<!DOCTYPE html>
<html lang="ja" class="no-js">
<head>
  <meta charset="UTF-8">
  <title>PAGE TITLE</title>
  <%- include('view/meta/_head'); %>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">


</head>


<body>

	<!--  hero start        -->
	<%- include('view/modules/_hero'); %>
	<!--   hero  end         -->

	<!--  header start   ------>
	<%- include('view/parts/_header'); %>
	<!--  header end     ------>


<!--------------------------------
         main start        
  ------------------------------->	
<main>

    <%- include('view/main/_catch'); %>


	 <!--   feature start         -->
	 <%- include('view/main/_feature'); %>
	 <!--   feature end           -->

	 <!--   service start         -->
	 <%- include('view/main/_service'); %>
	 <!--   service end           -->

	 <!--   news start         -->
	 <%- include('view/main/_news'); %>
	 <!--   news end           -->

	 <!--   icon start         -->
	 <%- include('view/main/_icon'); %>
	 <!--   icon end           -->
	
</main>

<!--------------------------------
          main end        
  ------------------------------->	
	 <!--   form start         -->
	 <%- include('view/main/_form'); %>
	 <!--   form end           -->

	 <%- include('view/parts/_footer'); %>
	<script src="assets/js/app.js" async></script>
</body>
	
</html>
